.login {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-inline: auto;
    width: 40%;
    border: 0.125rem solid #ce99ce34;
    color: white;
    border-radius: 2px;
    padding: 2rem;
    padding-bottom: 3rem;
    align-items: center;
    margin-top: 10rem;
    background-color: rgba(46, 37, 53, 0.568);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    height: max-content;
}

.login-head{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding: 1rem;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
}

.section{
    width: 70%;
   
}

.section input[type='text'],  .section input[type='password']{
    background-color: rgba(255, 255, 255, 0);
   border-top: 1px;
   border-right: 1px;
   border-left: 1px;
    padding: 8px;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: white;
    outline: 0;
    /* Other styling properties */
  }