.container1 {
    padding-block: 1rem;
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    padding-inline-start: 2rem;
    background-color: #AA96DA;
}
.logged {
    position: fixed;
    z-index: 345;
    width: 100%;
    top:0;
    left: 0;
    background-color: #aa96da0c;
}
.container1 a{
    text-decoration-line: none;
    color: #FFFFD2;
}


.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo h4 {
    margin: 0;
}

.profile-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logout {
cursor: pointer;
color: white;
}
