.container1 {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: #AA96DA;
}
.logged {
    position: fixed;
    z-index: 345;
    width: 100%;
    top:0;
    left: 0;
    background-color: #aa96da0c;
}
.container1 .rightSide{
    display: flex;
    align-items: center;
}
.container1 .rightSide a{
    padding-left: 20px;
    padding-right: 20px;
}
.container1 .leftSide{
    display: flex;
    align-items: center;
}

.container1 .leftSide a{
    padding-left: 20px;
    padding-right: 20px;
}
.container1 a{
    text-decoration-line: none;
    color: #FFFFD2;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 40px;
}

.logo * {
    margin: 0;
    font-size: 2rem;
}

.smallLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logout {
cursor: pointer;
color: white;
}

.container1 a:hover{
    color: #1e1041;
}