@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.createItemForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
  align-items: flex-start;
  border: 1px white solid;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.createItemContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50000000000000;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.seen {
  display: block;
  width: 100%;
  height: 100vh;
}

.backContainer {
  display: none;
}

.inputItem {
  width: 80%;
}

/* .itemHeader {
    border-bottom: 1px black solid;
} */

.jk {
  width: 100%;
  height: 100%;
  margin-block: 0;
}

* {
  font-size: 20px;
}

.itemsBody {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}

.item-card {
  box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 5px 10px 10px -5px;
    border: 1px rgba(219, 218, 218, 0.45) solid;
  padding: 1rem;
  width: 27%;
  border-radius: 10px;
  margin-block: 2rem;
}

.item-card-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.item-user-img {
  width: 80px;
  height: 80px;
}
.date-name {
  display: flex;
  flex-direction: column;
}
.item-card-body {
  display: flex;
  flex-direction: column;
}
.item-card-body div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-card-body div div{
    display: flex;
    flex-direction: column;
    
}
.item-card-body span {
  font-size: 24px;
  font-size: larger;
  font-family: "Droid Arabic Kufi", serif;
  font-weight: 500;
  line-height: 4;
}
.body-item-img {
  width: 100%;
  border-radius: 0;
  height: 500px;
  object-fit: cover;
    background-repeat: no-repeat;
}

.item-card-footer{
    display: flex;
    justify-content: center;
}

small {
    color: rgba(128, 128, 128, 0.852);
}

.itemsHeader{
    width: 80%;
    border: 1px gray solid;
    border-radius: 9999px;
    padding: 1rem;
    margin-top: 2rem;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}