@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);


.model
{
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
}


.createItemForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 70%;
  padding: 1rem;
  border: 1px white solid;
  border-radius: 10px;
  margin-top: 50px;
}

.createItemForm .inputSection{
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.createItemForm .inputSection input{
  width: 100%;
}

.create-form-footer {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 20px;
  margin: 30px 20px 10px;
}


.inputItem {
  width: 100%;
}

.itemHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.jk {
  width: 100%;
  height: 100%;
  margin-block: 0;
}

* {
  font-size: 20px;
}

.itemsBody {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
}

.item-card {
  box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 5px 10px 10px -5px;
    border: 1px rgba(219, 218, 218, 0.45) solid;
  padding: 1rem;
  width: 27%;
  border-radius: 10px;
  margin-block: 2rem;
  height: 80%;
}

.item-card-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.item-user-img {
  width: 60px;
  height: 60px;
}
.date-name {
  display: flex;
  flex-direction: column;
}
.item-card-body {
  
  display: flex;
  flex-direction: column;
}
.item-card-body div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-card-body div div{
    display: flex;
    flex-direction: column;
    
}
.item-card-body span {
  font-size: 24px;
  font-size: larger;
  font-family: "Droid Arabic Kufi", serif;
  font-weight: 500;
  line-height: 4;
}
.body-item-img {
  width: 100%;
  border-radius: 0;
  height: 450px;
  
}

.item-card-footer{
    display: flex;
    justify-content: center;
}

small {
    color: rgba(128, 128, 128, 0.852);
}

.itemsHeader{
    width: 80%;
    border: 1px gray solid;
    border-radius: 9999px;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.itemsfilter {
  border-radius: 9999px;
  border: 1px gray solid;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.itemsHeader button {
  max-height: fit-content;
}

.itemsfilter select {
  border-radius: 9999px;
  border: 1px gray solid;
  width: 30%;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterinput {
  border-radius: 9999px;
  border: 1px gray solid;
  width: 65%;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  margin: 30px;
  padding: 50px;
  background: #aa96da7c;
  border-radius: 20px;
}

.item-details .details-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 20px;
  gap: 2rem;
}

.item-details .details-header section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.item-details .itemBody{
  display: flex;
  margin: 1rem;
  padding: 20px;
  gap: 2rem;
}
.details {
  width: 100%;
  height: 100%;
}

.details-img {
  width: 70%;
  border-radius: 10px;
  object-fit: cover;
}

.basic-info {
  display: flex;
  justify-content: space-between;
}

.details div span {
  line-height: 4;
  font-size: larger;
  width: 50%;
}

.details-header{
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 2rem;
}

.details-header h3:hover{
  color: #6a5a8f;
  scale: 1.03;
}

.details-header h3{
  margin: 0;
  text-transform: uppercase;
}

.item-user-name:hover, .item-user-img:hover {
  cursor: pointer;
  scale: 1.02;
}

.details-button{
  width: 100%;
  padding: 1rem;
}

.icon-details{
  cursor: pointer;
  transition: all ease-in .2s;
}

.icon-details:hover{
  color: #6a5a8f;
  scale: 1.03;
}

@media(max-width: 2000px)
{
  .item-card {
    width: 50%;
  }
}

@media(max-width: 1000px)
{
  .item-card-body div{
    flex-direction: column;
    align-items: center;
  }

  .item-card-body span{
    text-align: center;
  }

  .item-card {
    width: 80%;
  }
}